html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    display: flex;
    align-items: center;
    background-color: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(20px);
    z-index: 100;
}
.page-header__container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.page-header__logo{
    flex-shrink: 0;
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;

}
.page-header__logo-icon{
    width: 100%;
    height: 100%;
}

.page-header__nav{
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    gap: 50px;
}
.page-header__nav-link{
    margin: 0 25px;
    color:#1F1E1E;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
    transition: color 0.2s;
}

.page-header__nav-link:hover,
.page-header__nav-link:active{
    color:#BC3324;
    
}
.page-header__right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 202px;
}
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1F1E1E;
    background-color: transparent;
    outline: none;
    color: #1F1E1E;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
  }
  .btn:hover,
  .bnt:active {
    background-color: #1F1E1E;
    color: #ffffff;
  }

.listing{
    flex-direction: column;
}

.listing__events-list{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.events__listing{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}
.section-title{  
}
.event-card{
    display: flex;
    width: 405px;
    max-width: 100%;
    min-width: 280px;
}
.event-card__link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
    color: #1F1E1E;
}
.event-card__link:hover .event-card__title{
    color: #BC3324;
    text-decoration-color: #BC3324;
}
.event-card__picture{
    display: block;
    margin: 0 0 25px;
    position: relative;
    width: 100%;
    font-size: 0;
}
.event-card__picture::after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.16%;
}
.event-card__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-card__title{
    margin: 0 0 15px;
    min-height: 66px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #1F1E1E;
    text-decoration: underline transparent;
    transition: color 0.2s, text-decoration 0.2s;
}
.event-card_text{
    margin: 0 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

.event-card_time{
    margin-top: 15px;
    display: block;
}

.listing__event-card{
    width: calc(33.333% - 40px);
}

.reserve{
    display: grid;
    grid-template-columns: 405px 1fr;
    grid-template-areas: 
    "checkbox scheme"
    "order legend";
    gap: 65px 11%;
    width: 100%;
}

.reserve__checkbox{
    grid-area: "checkbox";
    background-color: red;
}
.reserve__scheme{
    grid-area: "scheme";
    background-color: blue;
}
.reserve__order{
    grid-area: "order";
    background-color: orange;
}
.reserve__legend{
    grid-area: "legend";
    background-color: fuchsia;
}

.main{
    flex: 1 0 auto;
}

.page-footer {
    flex: 0 0 auto;
}

